*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.blog{
    background-color: rgba(255, 255, 255, 0.933);
    
}
h1, h2, h3, h4, h5, h6{
  padding-top: 50px;
  margin-top: -50px;
}
.toc{
    background-color: rgba(255, 255, 255, 0.933);
    position: fixed;
    right: 60px;
    overflow: auto;
    height: 90%;
    /*width: auto;*/
}
.toc a{
  color: #000;
  padding-left: 5px;
  text-decoration:none;
}
#toc{
  max-height:fit-content;
}
.toc::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 3px;
}
.toc::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
  background: transparent !important;
}

#toc li.active{
  background-color: rgba(80,80,80,.04);
}
#toc li a.active {
  color: #807dd4;
  padding-left: 2px;
  border-left: 3px solid #807dd4;
}
#toc li::marker{
  content: ""
}
#toc ul{
  padding-left: 10px;
  padding-right: 10px;
}
#toc li{
  margin-top: 5px;
  margin-bottom: 5px;
}
.top{
  padding-left: 16px;
}
.toptable{
    margin-left: 50px;
}
.tableitem{
    padding-left: 25px;
}
.name{
    color: rgb(0, 0, 0);
    margin-left: 15px;
    font-size: xx-large
}
.item{
    width: 234px;
    height: 300px;
    background-color: #ffff;
    /* div标签居中 */
    margin: 0 auto;
    /* 内容居中 */
    text-align: center;
}

body
{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container 
{
  position: relative;
  display: flex;
  justify-content:left;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 30px;
}
.container .box 
{
  margin: 28px;
  position: relative;
  display: flex;
  width: 300px;
  height: 350px;
  background: #2e2e2e;
  justify-content: center;
  align-items: center;
}
.container .box::before 
{
  content: '';
  position: absolute;
  border-top: 4px solid var(--clr);
  border-bottom: 4px solid var(--clr);
  inset: -10px 50px;
  z-index: -2;
  transform: skewY(15deg);
  transition: 0.5s ease-in-out
}
.container .box:hover::before 
{
  transform: skew(0deg);
  inset: -10px 40px;
}
.container .box::after 
{
  content: '';
  position: absolute;
  border-left: 4px solid var(--clr);
  border-right: 4px solid var(--clr);
  inset: 60px -10px;
  z-index: -1;
  transform: skew(15deg);
  transition: 0.5s ease-in-out
}
.container .box:hover::after 
{
  transform: skew(0deg);
  inset: 40px -10px;
}
 
 
.container .box .content 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.container .box .content .icon 
{
  color: var(--clr);
  font-size: 2.5em;
  width: 80px;
  height: 80px;
  display: flex;
  margin-top: 20px;
 
  justify-content: center;
  align-items: center;
  background: #2e2e2e;
  color: var(--clr);
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 4px #2e2e2e,
  0 0 0 6px var(--clr);
}
.container .box:hover .content .icon
{
  color : #2e2e2e;
  background: var(--clr);
  box-shadow: 0 0 0 4px #2e2e2e,
  0 0 0 300px var(--clr);
}
.container .box .content .text h3 
{
    margin-top: 0px;
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content .text h3
{
  color: #2e2e2e;
}
.container .box .content .text p
{
  color: #777;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content .text p
{
  color: #333;
}
.container .box .content .text a 
{
  position: relative;
  background: var(--clr);
  color: #2e2e2e;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content .text a
{
  background: #2e2e2e;
  color: var(--clr);
}
table {
    position: relative;
    overflow: hidden!important;
    box-sizing: border-box;
    width: 100%!important;
    background-color: #fff;
    border: 1px solid #dfe3ec;
    font-size: 14px;
    color: #222;
    margin: 0 0 10px;
    padding: 0;
    border-right: 0;
    border-bottom: 0;
    display: table!important;
    border-collapse: initial!important;
    border-spacing: 0;
    text-indent: initial;
    word-break: break-word;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table th{
    border-bottom: 1px solid #dfe3ec;
    border-right: 1px solid #dfe3ec;
    background-color: #eef0f6;
    text-align: left;
    overflow: hidden;
    padding: 0 18px;
    min-width: 100px;
    height: 40px;
    box-sizing: border-box;
    background-clip: padding-box;
    display: table-cell;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
}
table td{
    border-bottom: 1px solid #dfe6ec;
    border-right: 1px solid #dfe3ec;
    min-width: 0;
    background-color: #fff;
    padding: 0 20px;
    height: 40px;
    box-sizing: border-box;
    background-clip: padding-box;
    display: table-cell;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-collapse: collapse;
}/*
ol{
  padding-left: 20px;
}
ol li{
  list-style: decimal;
}*/